table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid #333;
    min-width: 80px;

}

td {
    outline: none;
}

button {
    background-color: transparent;
    border: 1px solid #333;
}